body {
  background-color: rgb(134, 134, 134);
  background-size: cover;
  background-attachment: fixed;
}

/* MAIN PAGE */

.navBar {
  background-color: rgba(193, 252, 252, 0.6);
  padding-top: 1em;
  padding-bottom: 1em;
}

.linkText {
  font-family: "Anton", sans-serif;
  font-size: calc(1.5em + 1vw);
  color: black;
}

.titleApp {
  height: 500px;
  color: ghostwhite;
}

.textH1 {
  color: rgb(255, 236, 208);
  font-family: "Anton", sans-serif;
  font-size: calc(4em + 3vw);
  -webkit-text-stroke: 2px black;
}

/* SIGN IN PAGE */

.labelForm {
  font-family: "Bree Serif", serif;
  font-size: calc(1em + 1vw);
  color: black;
}

/* MAIN MENU PAGE */

.btnMenu {
  background-color: rgba(50, 209, 209, 0.8);
  border-radius: 10px;
  font-family: "Anton", sans-serif;
  font-size: calc(1em + 1vw);
}

.userText h1 {
  font-family: "Anton", sans-serif;
  font-size: calc(1.8em + 1.3vw);
}

/* CONTACTS LIST */

.deleteBtn {
  background-color: rgb(248, 61, 61);
  color: black;
  font-size: calc(0.5em + 0.5vw);
}

.editBtn {
  background-color: rgba(50, 209, 209, 1);
  color: black;
  font-size: calc(0.5em + 0.5vw);
}

.contactCard {
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 12px;
  border: 3px solid rgb(0, 0, 0);
  margin-top: 15px;
  color: black;
}

.contactName {
  font-family: "Goldman", cursive;
  font-size: calc(0.6em + 0.8vw);
  background-color: rgba(121, 229, 248, 1);
  border-radius: 12px;
}

.contactBirthday {
  font-family: "Goldman", cursive;
  font-size: calc(0.5em + 0.8vw);
}

.contactBirthday h2 {
  font-size: calc(0.7em + 0.9vw);
}

.contactEmail {
  font-family: "Goldman", cursive;
  font-size: calc(0.5em + 0.8vw);
}

.contactEmail h2 {
  font-size: calc(0.7em + 0.9vw);
}

.contactNumber {
  font-family: "Goldman", cursive;
  font-size: calc(0.5em + 0.8vw);
}

.contactNumber h2 {
  font-size: calc(0.7em + 0.9vw);
}

/* EDIT FORM PAGE*/

.editFormBtn {
  background-color: rgba(50, 209, 209, 0.8);
  color: black;
}

.labelForm {
  font-size: calc(0.7em + 0.9vw);
}
