body {
    background-image: url("https://s2.best-wallpaper.net/wallpaper/5120x2880/1903/Orange-stripe-background-abstract_5120x2880.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* MAIN PAGE */

.navBar {
    background-color: rgba(172, 241, 241, 0.6);
    padding-top: 1em;
    padding-bottom: 1em;
}

.linkText {
    font-family: 'Anton', sans-serif;
    font-size: calc(1.5em + 1vw);
    color: black;
}

.titleApp {
    height: 500px;
}

.textH1 {
    color: rgb(255, 236, 208);
    font-family: 'Anton', sans-serif;
    font-size: calc(4em + 3vw);
    -webkit-text-stroke: 2px black;
}

/* SIGN IN PAGE */

.labelForm {
    font-family: 'Bree Serif', serif;
    font-size: calc(1em + 1vw);
    color: black;
}

/* MAIN MENU PAGE */

.btnMenu {
    background-color: rgba(50, 209, 209, 0.8);
    border-radius: 10px;
    font-family: 'Anton', sans-serif;
    font-size: calc(1em + 1vw);
}

.userText h1{
    font-family: 'Anton', sans-serif;
    font-size: calc(2em + 1.5vw);
}

/* CONTACTS LIST */

.contactCard {
    background-color: rgb(110, 110, 6);
    border-radius: 12px;
    border: 2px solid black;
    margin-top: 15px;
}

.contactName {
    font-family: 'Goldman', cursive;
    font-size: calc(0.6em + 0.8vw);
}

.contactBirthday {
    font-family: 'Goldman', cursive;
    font-size: calc(0.6em + 0.8vw);
}

.contactEmail {
    font-family: 'Goldman', cursive;
    font-size: calc(0.6em + 0.8vw);
}

.contactNumber {
    font-family: 'Goldman', cursive;
    font-size: calc(0.6em + 0.8vw);
}